gemini_flash_api_key=''
gemini_pro_api_key=''
gemini_flash_model='gemini-3.1-flash-lite-preview'
gemini_pro_model='gemini-3.1-pro-preview'

ark_api_key=''
ark_model=''

local_url='http://localhost:1234/v1'
local_api_key='lm-studio'
local_model='deepseek-r1-distill-qwen-14b'
